body {
  font-family: Tahoma, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #2c3e50;
  margin-top: 20px;
}

nav {
  background-color: #3498db;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ecf0f1;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
